pre .operator,
pre .paren {
    color: rgb(104, 118, 135)
}

pre .literal {
    color: #990073
}

pre .number {
    color: #099;
}

pre .comment {
    color: #998;
    font-style: italic
}

pre .keyword {
    color: #900;
    font-weight: bold
}

pre .identifier {
    color: rgb(0, 0, 0);
}

pre .string {
    color: #d14;
}



tt, code, pre {
   font-family: 'DejaVu Sans Mono', 'Droid Sans Mono', 'Lucida Console', Consolas, Monaco, monospace;
}

pre, img {
  max-width: 100%;
}

pre code {
   display: block; padding: 0.5em;
}

code {
  font-size: 92%;
  border: 1px solid #ccc;
}

code[class] {
  background-color: #F8F8F8;
}
